.App {
  text-align: center;
  margin: 20px;

  #top-part {
    text-align: right;
  }

  h1 {
    text-align: left;
  }
  
  #sensor-modules-wrapper {
    #sensor-modules-container {
      border: 40px solid #fafafa;
      margin: 40px;
      padding: 20px;
    }
  }
}

.App-link {
  color: #61dafb;
}